.ability {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.ability__text {
  font-size: 24px;
  color: #283645;
  margin-bottom: 35px;
}

.ability__list {
  margin-top: 115px;
  margin-bottom: 40px;
  list-style: none;
  padding-left: 0;
}

.ability__title {
  font-size: 18px;
  color: #000000;
}

.ability__bg {
  display: block;
  margin: 0 auto;
  background-image: url(../img/iphone-screen-mobile@1x.png);
  width: 157px;
  height: 277px;
}
