.ability {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 41px;
}

.ability__text {
  font-size: 24px;
  line-height: 28px;
  color: #283645;
  font-family: "opensanslight", "Arial", sans-serif;
  margin-bottom: 35px;
}

.ability__list {
  margin-top: 110px;
  margin-bottom: 40px;
  list-style: none;
  padding-left: 0;
}

.ability__title {
  font-size: 18px;
  color: #000000;
  font-family: "opensansbold", "Arial", sans-serif;
  margin: 0;
}

.ability__description {
  margin-top: 12px;
  margin-bottom: 31px;
}

@media (min-width: 660px) {
  .ability__text {
    font-size: 40px;
    margin: 0;
    margin-top: 55px;
  }
  .ability__text--indent {
    padding-left: 130px;
    padding-right: 130px;
    line-height: 50px;
    margin-top: 20px;
  }
  .ability__list {
    margin-top: 45px;
    order: 2;
    padding-left: 45px;
  }
  .ability__wrapper {
    display: flex;
    margin-top: 45px;
  }
  .ability__item {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .ability__text {
    font-size: 50px;
  }
  .ability__text--indent {
    padding-left: 370px;
    padding-right: 370px;
  }
  .ability__image {
    display: none;
  }
  .ability__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .ability__description {
    font-size: 18px;
    line-height: 30px;
  }
  .ability__wrapper {
    padding-left: 120px;
    padding-right: 120px;
  }
  .ability__list {
    display: flex;
    padding-left: 0;
  }
  .ability__item {
    text-align: center;
    width: 240px;
    margin-right: 85px;
  }
  .ability__item:last-child {
    margin-right: 0;
  }
}
