.download {
  background-color: #1d2631;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  text-align: center;
}

.download__button {
  font-size: 18px;
  line-height: 18px;
  width: 280px;
  height: 50px;
  color: #ffffff;
  background-color: #1d2631;
  border: 3px solid #ffffff;
  border-radius: 25px;
  padding: 15px;
}

.download__info {
  color: #ffffff;
  margin-bottom: 40px;
}
