.photo-catalog__head {
  height: 141px;
  font-family: "opensanslight", "Arial", sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  text-align: center;
  margin-top: -14px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
}

.photo-catalog__description {
  text-align: center;
  line-height: 30px;
  margin-top: 45px;
  padding-left: 34px;
  padding-right: 34px;
}

.photo-catalog__author {
  font-family: "opensansbold", "Arial", sans-serif;
}

.photo-catalog__time {
  font-size: 12px;
  font-family: "opensanslight", "Arial", sans-serif;
  text-transform: uppercase;
}

.photo-catalog__comment {
  margin: 0;
}

.photo-catalog__list {
  list-style: none;
  margin-top: 49px;
  padding-left: 0;
}

.photo-catalog__item {
  margin-bottom: 20px;
}

.photo-catalog__author-wrapper {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #f2f2f2;
}

.photo-catalog__like {
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 9px;
  padding-left: 32px;
  padding-bottom: 20px;
}

.photo-catalog__image {
  display: block;
  margin: 0 auto;
}

.photo-catalog__block {
  padding-top: 18px;
}

@media (min-width: 660px) {
  .photo-catalog__head {
    height: 330px;
    padding-top: 70px;
    font-size: 50px;
    line-height: 60px;
  }
  .photo-catalog__description {
    font-size: 18px;
    padding: 55px 110px 35px 110px;
  }
  .photo-catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .photo-catalog__item {
    width: 300px;
  }
  .photo-catalog__item:first-child {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .photo-catalog__head {
    padding-left: 420px;
    padding-right: 420px;
  }
  .photo-catalog__item {
    margin-right: 20px;
  }
}










